<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="foundation.e.pwaplayer.provider.READ_WRITE" />

    <application android:icon="@mipmap/ic_launcher">

        <activity
            android:name="foundation.e.bliss.widgets.WidgetsActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Remove Widgets"
            android:theme="@style/HomeSettings.Theme" />
    </application>

</manifest>
